In [6]:
from get_dataset import dataset
import pandas as pd
import re
from nltk import word_tokenize
from nltk.corpus import stopwords
from sklearn.metrics.pairwise import euclidean_distances as euclidean

In [2]:
data = dataset()

In [5]:
dataset_df = pd.DataFrame(data)
dataset_df.columns = ['texto', 'nivel']
dataset_df.head()

                                               texto                    nivel
0   Em 1819, com o fim de povoar o Brasil e torná...           3_Ensino_Medio
1  Mecânica dos fluidos/Capa\nMecânica dos fluido...        4_Ensino_Superior
2   Essa seção mostra passo-a-passo como o "DBSca...        4_Ensino_Superior
3  Curiosidades. O uso de animais para a realizaç...  2_Ensino_Fundamental_II
4  Português/Fonema/Classificação das vogais\nAs ...           3_Ensino_Medio

In [15]:
def limpar_texto(texto):
    stop_words = stopwords.words('portuguese')
    texto = re.sub(r'([^\w\s]|_)+', ' ', texto.lower())
    tokens = word_tokenize(texto)
    tokens_sem_stopwords = [token for token in tokens if token not in stop_words]
    return ' '.join(tokens_sem_stopwords)

In [16]:
dataset_df['texto_limpo'] = dataset_df['texto'].apply(lambda x: limpar_texto(str(x)))

In [17]:
dataset_df['texto_limpo'].head()

0    1819 fim povoar brasil torná lo europeu termos...
1    mecânica fluidos capa mecânica fluidos primeir...
2    seção mostra passo passo dbscan realiza agrupa...
3    curiosidades uso animais realização testes med...
4    português fonema classificação vogais vogais l...
Name: texto_limpo, dtype: object

In [18]:
dataset_df['tamanho_texto'] = dataset_df['texto_limpo'].apply(lambda x: len(str(x).split()))

In [19]:
dataset_df['tamanho_texto'].head()

0    207
1    389
2    184
3    281
4    214
Name: tamanho_texto, dtype: int64

In [22]:
dataset_df['tamanho_medio'] = dataset_df['texto_limpo'].apply(lambda x: sum([len(i) for i in str(x).split()])/len(str(x).split()))

In [23]:
dataset_df['tamanho_medio'].head()

0    6.681159
1    6.092545
2    7.222826
3    7.370107
4    6.855140
Name: tamanho_medio, dtype: float64

In [24]:
dataset_df['tamanho_vocab'] = dataset_df['texto_limpo'].apply(lambda x: len(set(str(x).split())))

In [25]:
dataset_df['tamanho_vocab'].head()

0    161
1    219
2    117
3    203
4    144
Name: tamanho_vocab, dtype: int64

In [26]:
features_df = dataset_df[['tamanho_texto', 'tamanho_medio', 'tamanho_vocab']]

In [27]:
features_df.head()

   tamanho_texto  tamanho_medio  tamanho_vocab
0            207       6.681159            161
1            389       6.092545            219
2            184       7.222826            117
3            281       7.370107            203
4            214       6.855140            144